</div>
<!-- <hr>
&copy; 2019. <br>
Disclaimer: The information in this page might be inaccurate. -->
<nav class="navbar footerz navbar-dark bg-dark">
    <a
      class="navbar-brand"
      href="https://github.com/Certinax/f2019cst336/tree/master/public/project3"
      target="_blank"
      ><img src="img/github-logo.svg" width="25" height="25" alt=""
    /></a>
    <span class="navbar-text"
      >Disclaimer: The information in this page might be inaccurate. <br><span class="text-success" style="font-size: 0.7rem;">ThoMot - Certinax &copy; 2019 | Thora West Mothes & Mathias Lund Ahrn</span></span
    >
  </nav>
</body>
</html>