</div>
<!-- <hr>
&copy; 2019. <br>
Disclaimer: The information in this page might be inaccurate. -->
<nav class="navbar footerz navbar-dark bg-dark">
    <span class="navbar-text"
      >Disclaimer: The information in this page might be inaccurate. <br><span class="text-success" style="font-size: 0.7rem;">ThoMot - Certinax &copy; 2019 | Thora West Mothes & Mathias Lund Ahrn</span></span
    >
  </nav>
</body>
</html>