<% include partials/header.ejs %>
<div class="content mt-4">
<div class="row">
  <div class="col-lg-12">
      <div class="card mx-auto" style="width: 18rem;">
          <img src="/img/earth.jpg" class="card-img-top" alt="Earth">
          <div class="card-body">
            <h5 class="card-title">Earth</h5>
            <p class="card-text">Earth is the third planet from the Sun and the only astronomical object known to harbor life. According to radiometric dating and other sources of evidence, Earth formed over 4.5 billion years ago. Earth's gravity interacts with other objects in space, especially the Sun and the Moon, which is Earth's only natural satellite. Earth orbits around the Sun in 365.26 days, a period known as an Earth year. During this time, Earth rotates about its axis about 366.26 times.</p>
          </div>
        </div>
  </div>
</div>
</div>
  <% include partials/footer.ejs %>