<% include partials/header.ejs %>
<div class="content mt-4">
<div class="row">
  <div class="col-lg-12">
      <div class="card mx-auto" style="width: 18rem;">
          <img src="/img/saturn.jpg" class="card-img-top" alt="Saturn">
          <div class="card-body">
            <h5 class="card-title">Saturn</h5>
            <p class="card-text">Saturn is the sixth planet from the Sun and the second-largest in the Solar System, after Jupiter. It is a gas giant with an average radius about nine times that of Earth. It has only one-eighth the average density of Earth; however, with its larger volume, Saturn is over 95 times more massive. Saturn is named after the Roman god of wealth and agriculture; its astronomical symbol (♄) represents the god's sickle.</p>
          </div>
        </div>
  </div>
</div>
</div>
  <% include partials/footer.ejs %>